/* -----------------
      font style
-------------------- */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*---------------------- header start------------------------ */

.container {
    background-color: rgb(20, 18, 18);
    margin: 25px 90px;
    border: 3px solid white;
    padding: 0 30px;
    border-radius: 30px;


}


.section-detail {
    display: flex;
    margin: 30px;
    padding: 30px 50px;
}

.section-titel {
    color: azure;
    font-size: 4em;
    padding-right: 30%;
}

.titel-detail {
    color: azure;
    font-size: 1em;
}

.watch-live {
    color: azure;
    border: 2px solid rgb(243, 35, 35);
    border: 5px 20px;
    padding: 10px 40px;
    background-color: rgb(243, 35, 35);
    border-radius: 10px;
    font-weight: 700;

}

.watch-live:hover {
    background-color: cornflowerblue;
}

.container img {
    width: 400px;
}

/* ------------------------header end-------------------- */

/* -------------------------main start--------------------- */

.container-2 {
    margin-right: 20px;
    position: relative;
}

.main-sidebar {
    width: 18%;
    margin: 2px;
}

.sidebar {
    font-size: 2em;
    font-weight: 700;
    background-color: white;
    border: 2px solid white;
    width: 100%;
    height: 20px;
    padding-left: 20px;
}

.a-side.extra {
    background-color: rgb(245, 53, 53);
}

.a-side {
    display: block;
    border: 2px solid rgb(83, 76, 76);
    border-radius: 30px;
    text-align: center;
    margin-left: 80px;
    text-decoration: none;



}


.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 170px;
    margin-left: 100px;
    width: 70%;
    width: 100%;
    bottom: 30%;

}

.transfer {
    color: rgb(54, 151, 151);
    font-weight: 700;
}

.blog-img {
    padding: 5px;
    border: 1px solid wheat;
    border-radius: 10px;
    margin: 3px;
    grid-row-gap: 20px
}

/* --------------------------main end---------------------- */

/* --------------------------footer start-------------------- */

.goal {
    text-align: center;
    font-size: 2em;
    background-color: rgb(20, 18, 18);
    color: azure;
    align-items: center;
    border: 20px;
    padding: 40px;
    border-radius: 20px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 15px;
    padding-left: 420px;
    margin-bottom: 20px;
}

/* --------------------footer end------------------- */

/* --------------------Social link-------------------- */

.social-id {
    display: flex;
    gap: 17px;
    padding-left: 540px;
}